# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs/MIT_IIT_DU/FileContentIndex/65b86335-a33f-4134-88f7-861b6f05dae3.vsidx
/.vs/MIT_IIT_DU/FileContentIndex/6b61975c-a4ad-417b-b412-e4ecf8f2ce95.vsidx
/.vs/MIT_IIT_DU/FileContentIndex/59c4cf94-632e-4ac3-a30a-fe480b7b9a44.vsidx
/.vs/MIT_IIT_DU/FileContentIndex/dddaff09-b764-4617-8fc4-5941dba0ce8d.vsidx
/.vs/MIT_IIT_DU/FileContentIndex/e6f397ce-a91b-4b2f-846d-559ba5d546d8.vsidx
/.vs/MIT_IIT_DU/FileContentIndex/eb3d0dd0-eac5-4f3e-8d97-555cd4d1984d.vsidx
/.vs/MIT_IIT_DU/FileContentIndex/13ae1438-921f-44c9-af32-6f7629998319.vsidx
/.vs/MIT_IIT_DU/FileContentIndex/7fc466b1-ad04-4d3d-8088-0e3fca5786a1.vsidx
/.vs/MIT_IIT_DU/FileContentIndex
